<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757790279070-gm28h91aqv1n3tvo6fk5ihb0p1cqgkku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757790279070-gm28h91aqv1n3tvo6fk5ihb0p1cqgkku</string>
	<key>API_KEY</key>
	<string>AIzaSyDBhLAk1A-ehme2NOxvOyGRJXo9pWIpldo</string>
	<key>GCM_SENDER_ID</key>
	<string>757790279070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talk.talkWorld</string>
	<key>PROJECT_ID</key>
	<string>talk-world-d106c</string>
	<key>STORAGE_BUCKET</key>
	<string>talk-world-d106c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757790279070:ios:bb301a3fce7a34afbc028f</string>
</dict>
</plist>